{% extends 'articles/base.html' %}
{% block body %}
{% if messages %}
  <div class="container" id="warning">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        [{{ message.tags }}]
        [{{ message.message }}]
      </div>
    {% endfor %}
  </div>
{% endif %}
<h4>{{ article.id }}번 글</h4>
<hr>
<h2>{{ article.title }}
</h2>
<hr>
<h6>작성 일자 : {{ article.created_at }}</h6>
<h6>수정 일자 : {{ article.updated_at }}</h6>
<hr>
<div class="container border border-muted">
  <p>{{ article.content }}</p>
</div>
<br>
<a href="{% url 'articles:index' %}">목록으로</a>
<a href="{% url 'articles:update' article.pk %}">수정하기</a>
<form action="{% url 'articles:delete' article.pk %}" method="POST"
  onclick="return confirm('Do you want to delete it?')">
  {% csrf_token %}
  <input class="btn btn-danger" type="submit" value="삭제">
</form>
<hr>
<h3>댓글 작성</h3>
<form action="{% url 'articles:comment_create' article.pk %}" method="POST">
  {% csrf_token %}
  <input type="text" name="comment">
  <input type="submit" value="얍" class="btn btn-success">
</form>
<br>
<h3>댓글 모음</h3>
{% for comment in comments %}
<div class="card">
  <div class="card-body">
    <div class="form-inline">
    <h6 class="card-title">{{ comment.created_at }}</h6> &nbsp;&nbsp;&nbsp;
    <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="삭제" class="btn btn-danger">
    </form>
    </div>
    <h5 class="card-text">{{ comment.content }}</h5>
  </div>
</div>
{% endfor %}
<script>
  var message_ele = document.getElementById("warning");
  setTimeout(function(){ 
    message_ele.style.display = "none"; 
  }, 3000);
</script>
{% endblock %}