{% extends 'articles/base.html' %}
{% load bootstrap4 %}

{% block body %}
{% if request.resolver_match.url_name == 'create' %}
    <h1 class="text-center">글 작성하기</h1>
{% else %}
    <h1 class="text-center">글 수정하기</h1>
{% endif %}
<form role="form" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form article_form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">Submit</button>
  {% endbuttons %}
</form>
{% endblock %}

{% comment %} url = '/aricles/create/'
작성하고
보낼때 action=""

action 안에 /가 맨 앞에 붙으면 절대경로
/가 맨 앞에 없으면 상대경로라서 원래 url(/articles/create/) 뒤에 ""이 붙게 돼서
원래 url로 돌아가게 됨! {% endcomment %}

