{% extends 'articles/base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'articles/style.css'%}">
{% endblock %}
{% block body %}
  <img class="rounded text-center" src="{% static 'articles/messi.jpeg'%}" alt="" style="width: 95%">
  <br>
  <h1 class="text-center">
    Board
  </h1>
  {% comment %} url 파일에서 app_name이 articles의 name이 create인 path를 url로 {% endcomment %}
  {% if user.is_authenticated %}
    <a href="{% url 'articles:create' %}" class="btn btn-success mb-20">글 작성하기</a>
  {% endif %}
  <table class="table table-muted">
  <thead class="thead-gray">
    <tr class="bg-primary">
      <th scope="col">#</th>
      <th scope="col">제목</th>
      <th scope="col">작성일자</th>
    </tr>
  </thead>
  <tbody class="mt-5">
    {% for article in articles %}
    <tr>
      <th scope="row">{{ article.id }}</th>
      <td><a href="{{ article.pk }}">{{ article.title }}</a></td>
      <td>{{ article.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
