{% extends 'articles/base.html' %}
{% block body %}
  <h1 class="text-center">Board</h1>
  <a href="{% url 'articles:new' %}" class="btn btn-danger mb-10">글 작성하기</a>
  <table class="table table-dark">
  <thead class="thead-gray">
    <tr class="bg-secondary">
      <th scope="col">#</th>
      <th scope="col">제목</th>
      <th scope="col">작성일자</th>
    </tr>
  </thead>
  <tbody class="mt-5">
    {% for article in articles %}
    <tr>
      <th scope="row">{{ article.id }}</th>
      <td><a href="{{ article.pk }}">{{ article.title }}</a></td>
      <td>{{ article.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
